$black = #22292F
$black-light = #DAE1E7
$black-darker = #606F7B

body
  color $black
  font-family 'Raleway', sans-serif
  padding-top 4rem

.container
  width 980px
  margin 0 auto

.navigation
  display flex
  justify-content space-between

.navigation-link
  font-size 20px
  letter-spacing .2rem
  text-decoration none
  line-height 2rem
  color $black
  font-weight 700
  text-transform uppercase
  border-bottom 3px solid $black-light

.product-information
  max-width 600px
  float left

.product-title
  font-size 2rem
  //font-family 'Playfair Display', serif
  //color $black-darker

.product-description
  line-height 1.4rem

.product-images
  float left

.product-image
  height 400px
