extends layout.pug

block content
  h1 #{title}
  .content #{body}

  h2 Products
  ul
    each product in products
      li
        a(href=product.url)= product.title
    else
      li There are no values
