extends layout

block navigation
  nav.navigation
    a.navigation-link(href="#") Cello
    each category in categories
      a.navigation-link(href=category.url)= category.title

block body-bottom
  script.
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
