doctype html
html
  head
    title My Site - #{title}
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:400,600,700,800")
    script(src="https://identity.netlify.com/v1/netlify-identity-widget.js")
  body
    .container
      block navigation
      block content
    block body-bottom
