doctype html
html
  head
    title My Site - #{title}
    link(rel="stylesheet" href="styles.css")
    script(src="https://identity.netlify.com/v1/netlify-identity-widget.js")
  body
    block content
    #footer
      p some footer content
    block body-bottom
