extends layout

block content
  .product-information
    h1.product-title #{title}
    .product-description #{body}
  .product-images Images
    each image in images
      img.product-image(src=image.image)
