//- src/index.pug

doctype html
html
  head
    title netlify-gulp-sample
    link(rel="stylesheet" href="styles.css")
    script(src="https://identity.netlify.com/v1/netlify-identity-widget.js")
  body
    h1 hello, netlify.

script.
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
